<h1>Shopping Cart:</h1>
<% if @cart_items %>
  <ul><% @cart_items.each do |item| %>
    <li><%= link_to item.name, product_path(item.id)%>, $<%=item.price%></li>
    <%end%>
  </ul>
<%end%>
<br>
<p id="cart-total"> Total: $<%= @cart_items.reduce(0) { |sum, obj| sum + obj.price } %></p>
<br>
<%= link_to "Buy Now", buy_now_path(current_customer.id), method: :post %> <br>

<%= link_to "Continue Shopping", root_path %> <br>